{% extends 'base.html' %}
{% block content1 %}
<div class="col">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.5179605719786!2d73.93542931350997!3d18.550672987391525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c3d85d1ec02d%3A0x246bdc874a90bb87!2sReliance%20Mart%20Kharadi!5e0!3m2!1sen!2sin!4v1656610981365!5m2!1sen!2sin" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="col">
    <h6>Address:2B (2) II Ground Floor, Film Center Building, 68 Tardeo Road, Mumbai - 400 034, India.</h6>
    <h6>:022 43517007</h6>
</div>
{% endblock content1 %}