{% extends 'base.html' %}
{% load static %}
{% block content1 %}
<div class="row">
    <div class="col">
        <h4 class="text-center text-danger p-3">WELCOME TO SHADI.COM</h4>
        <p class="p-2 f1">Shaadi.com, one of India's best known brands and the world's largest matrimonial service was founded with a simple objective - to help people find happiness. The company pioneered online matrimonials in 1996 and continues to lead the exciting matrimony category after more than a decade. By redefining the way Indian brides and grooms meet for marriage, Shaadi.com has created a world-renowned service that has touched over 35 million people</p>
    </div>
</div>
   <div class="row">
    <div class="col-md-6 p-2">
 <img src="{% static 'images/im1.jpg'%}" class="img-fluid shadow p-3 mb-5 bg-body rounded" width="600px" height="300px">
    </div>
    <div class="col p-2">
<table class="table text-white" style="background-color:brown">
        <tr>
            <th>NAME</th>
            <th>EDUCATION</th>
            <th>GENDER</th>
            <th>RELIGION</th>
            <th>CITY</th>
        </tr>
        {% for i in pi %}
        <tr>
            <td><a href="{% url 'detail' i.id %}"><span class="text-warning">{{i.name}}</span></a></td>
            <td>{{i.education}}</td>
            <td>{{i.gender}}</td>
            <td>{{i.religion}}</td>
            <td>{{i.city}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    </div>
{% endblock content1 %}

