.nav-link{
    padding-left:50px;
}
.nav-item{
    padding-left:50px;
}
#f1{
    font-family: 'Abril Fatface', cursive;
font-family: 'Lobster', cursive;
font-family: 'Roboto Condensed', sans-serif;
}
.div1{
    width:300px;
    text-align: center;
}
li{
    border-bottom: 1px solid black;
    list-style-type: square ;
    color:white;
  }
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:yellow;
}
.f1{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Yellowtail', cursive;
}
  